<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/img/images.png" width="120" height="100"  alt="Cooking Blog - Home">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-secondary" href="/">Home</a></li>
        <li><a class="nav-link px-2 link-secondary" href="/about">About</a></li>
        <li><a class="nav-link px-2 link-secondary" href="/submit-recipe">Submit</a></li>

    </ul>

    <div class="col-md-3 text-end">
        <form method="POST" action="/search">
            <input type="search" placeholder="Search..." aria-label="Search" class="form-control" name="searchTerm">
        </form>
    </div>

</header>